@import url('https://fonts.cdnfonts.com/css/techno-board');

button {
  background: none;
  transform: translateY(0.5vw);
  height: 27vw;
  width: 23%;
  font-family: "Techno Board", Courier;
  font-size: 2VW;
  color: #4cb3c0;
  margin-top: 20px;
  margin-left: 5vw;
  }
  button :hover {
    transform: scale(1.2);
    transition: 1s;
  }
  .CLOCK  {
    margin-left: 10vw;
    transform: translateY(-0.7vw);
  }
  .BULB  {
    margin-left: 8vw;
    transform: translateY(1.6vw);
  }
/******S & M phone*******/
@media only screen and (orientation:portrait) {
  .wholescreen {
    height: 60vw;
  }
  button {
    background: none;
    transform: translateY(-25vw);
    height: 50vw;
    width: 40vw;
    font-family: "Techno Board", Courier;
    font-size: 4vw;
    color: #4cb3c0;
    float: center;
    text-shadow:2px -2px 0px #19191a;
    }
    button :hover {
      transform: scale(1.3);
      transition: 1s;
    }
    .CLOCK  {
      margin-left: 6vw;
      transform: translateY(-25vw);
    }
    .BULB  {
      margin-left: 30vw;
      transform: translateY(-25vw);
    }
    img {
      height: 35vw;
    }
  }

  /******L phone*******/
@media only screen and (min-width:376px) and (max-width:425px) {
  
  button {
    transform: translateY(-1vw);
    height: 45vw;
    width: 35vw;
    margin-left: 10vw;
  }
  .CLOCK  {
    transform: translateY(-1vw);
  }
  .BULB  {
    transform: translateY(-3vw);
  }
  img {
    height: 30vw;
  }
}

/******tablet*******/
@media only screen and (min-width:426px) and (max-width:768px) {
  button {
    transform: translateY(9.2vw);
  }
  .CLOCK  {
    transform: translateY(9vw);
  }
  .BULB  {
    transform: translateY(9vw);
  }
  img {
    height: 20vw;
  }
}